.loading {
  margin: auto;
}
.loading-la-d1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-cir-la {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: #E8192C;
  animation: roateloading .8s infinite linear;
}
.loading-cir-la-content{
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF
}
@keyframes roateloading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Arial' !important;
  padding-bottom: 0;
}

.sd-title {
  font-family: 'Arial' !important;
  color: #333333 !important;
}

.sd-page__title{
  display: none !important;
}

.sd-title.sd-container-modern__title {
  gap: 0 !important;
  margin: 0 !important;
  padding: 0 16px !important;
  color: #333333 !important;
  box-shadow: none !important;
}

.sd-question__header h5 {
  color: #333333 !important;
  font-size: 14px !important;
  line-height: 28px !important;
}

.sd-header__text {
  gap: 0 !important;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: #f0f0f0 solid 1px !important;
}

.sd-header__text .sd-element--with-frame {
  border-radius: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.sd-header__text h3 {
  color: #333333 !important;
  font-size: 20px !important;
  padding: 0 !important;
  font-weight: 600 !important;
  margin-bottom: 4px !important;
  line-height: 22px !important;
}

.sd-header__text h5 {
  font-family: 'Arial' !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #999999 !important;
}

.sd-question__header--location-top {
  display: table-header-group;
  margin-left: 16px;
  padding-bottom: 0 !important;
}

.sd-element__title span {
  font-size: 14px !important;
}

.sd-element__title .sd-element__num {
  color: #333333 !important;
}

.sd-radio__decorator {
  border: 1px solid #BABABA;
}

.sd-radio--checked .sd-item__decorator {
  background: white !important;
  border: #e8192c solid 1.5px !important;
}

.sd-radio--checked .sd-radio__decorator:after {
  content: ' ';
  display: block;
  width: calc(1 * var(--base-unit, 8px));
  height: calc(1 * var(--base-unit, 8px));
  border-radius: 50%;
  background-color: #e8192c !important;
}

.sd-radio--checked .sd-radio__control:focus + .sd-radio__decorator:after {
  background-color: #e8192c !important;
}

.sd-row {
  margin-top: 0 !important;
  background-color: white;
}

.sd-page {
  padding: 0 !important;
  width: 100%;
  box-sizing: border-box;
}

.sd-body.sd-body--static .sd-body__timer,
.sd-body.sd-body--static .sd-body__navigation,
.sd-body.sd-body--static .sd-body__page {
  margin: 0 !important;
  min-width: 100% !important;
}

.svc-logic-question-value,
div:only-child > .sd-element--with-frame:not(.sd-element--collapsed) {
  border-radius: 0 !important;
}

.sd-body__navigation {
  padding: 0 16px 32px 16px !important;
}

.sv-action--hidden {
  display: none;
}

.sv-action {
  width: 100%;
}

.sd-btn {
  font-size: 16px !important;
  font-weight: 600 !important;
  background: #e8192c !important;
  border-radius: 40px !important;
  width: 100%;
  height: 48px;
  line-height: 10px !important;
  color: white !important;
  box-shadow: none !important;
}

.sd-navigation__prev-btn {
  color: #333333 !important;
  background: #FFFFFF !important;
  border: 1.5px #E6E6E6 solid !important;
}

.sd-body__navigation .sd-btn {
  padding: initial !important;
}

.sd-body__navigation .sv-action:not(.sv-action--hidden) ~ .sv-action:not(.sv-action--hidden) {
  margin-left: 11px !important;
}

.svc-logic-question-value,
div:only-child > .sd-element--with-frame:not(.sd-element--collapsed) {
  box-shadow: none !important;
}

.sd-root-modern {
  font-family: 'Arial' !important;
  background: white !important;
}

.sd-item__control-label {
  margin-left: 0 !important;
  display: flex;
}

.sd-item__control-label span {
  font-family: 'Arial' !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding-left: 16px !important;
}

.sd-item__control-label a {
  color: red !important;
}

.sd-checkbox__decorator {
  border: 1.5px solid #CCCCCC;
  border-radius: 2.25px !important;
}

.sd-checkbox--checked .sd-checkbox__svg use {
  fill: white !important;
}

.sd-checkbox--checked .sd-checkbox__decorator {
  background-color: #e8192c !important;
  border: 1px solid #e8192c !important;
  border-radius: 3px !important;
}

.sd-input {
  font-family: 'Arial' !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  border: none !important;
  border-bottom: #f0f0f0 solid 1px !important;
  box-shadow: none !important;
  background-color: white !important;
  padding: 0 !important;
}

.sd-text {
  background-color: white !important;
  border-bottom: #f0f0f0 solid 1px !important;
}

.sd-selectbase__label {
  align-items: center;
}

.sd-item--disabled.sd-item--disabled .sd-item__decorator,
.sd-item__decorator {
  width: 18px !important;
  height: 18px !important;
  background: white !important;
  box-shadow: none !important;
  border: 1.5px #CCCCCC solid !important;
}

.sd-comment {
  overflow: hidden;
  min-height: 28px !important;
}

.sd-row__question {
  display: table;
}

.sd-question__description {
  margin: 12px 0;
}

.sd-question__erbox--above-question {
  display: table-row-group;
  background-color: white !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #E8192C !important;
}

.sd-imagepicker__item img {
  border-radius: 12px !important;
  width:120px; 
  height:120px;
  object-fit:cover !important;
}

.sd-imagepicker__item--checked img{
  border: 2px solid #E8192C !important;
  object-fit: cover !important;
}

.sd-imagepicker__item:focus-within .sd-imagepicker__image, .sd-imagepicker__item--allowhover .sd-imagepicker__image:hover{
  opacity: 1 !important;
}

.sd-imagepicker__item--checked .sd-imagepicker__image-container::before {
  top: auto !important;
  bottom: calc(1 * var(--base-unit, 1px)) !important;
  right: calc(1 * var(--base-unit, 1px)) !important;
  width: calc(4 * var(--base-unit, 8px)) !important;
  height: calc(4 * var(--base-unit, 8px)) !important;
  border-radius: 0 !important;
  background-color: #E8192C !important;
  border-top-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='17' viewBox='0 0 23 17' fill='none'%3E%3Cpath d='M8.33331 16.1L0.333313 8L2.43331 5.9L8.33331 11.9L20.2333 0L22.3333 2.1L8.33331 16.1Z' fill='white'/%3E%3C/svg%3E") !important;
}

.sd-completedpage:before {
  height: 0 !important;
}

.sd-completedpage h3 {
  padding: 0 16px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 22px;
  color: #333333;
}

.saveErrorContainer {
  display: flex;
  justify-content: center
}

.saveAgainBtn {
  margin: 0 32px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  background-color: #E8192C;
  line-height: 24px;
  color: white;
  border: none;
  width: 350px;
}

.svc-logic-question-value, .sd-element:not(.sd-element--collapsed) {
  padding-top: 0 !important;
}

.sd-rating__item {
  border-radius: calc(12.5 * var(--base-unit, 1px)) !important;
  border:1px solid var(--background, #E6EBF0) !important;
  box-shadow: none !important;
  font-size: 14px;
}

.sd-rating__item--selected {
  background-color: #FEEFF0 !important;
  border-color: #FFC7CA !important;
  color: #ED1B2E !important;
  font-size: 14px;
}

.sd-rating__item:focus-within {
  border-color: #FFC7CA !important;
}

.sd-rating__item--allowhover {
  border-color: #E6EBF0 !important;
}

.sd-rating__item--selected:focus-within {
  box-shadow:none !important;
}

.sd-description {
  font-family: 'Arial' !important;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #999999 !important;
}

.sd-file__drag-area-placeholder {
  display: none !important;
}

.sd-file__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sd-file__choose-btn--text {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin-top: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px dashed #CCCCCC !important;
  border-radius: 12px !important;
  font-family: 'Arial' !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333333 !important;
}

.sd-file {
  min-height: 43px !important;
}

.sd-file--single {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}

.sd-file--single .sd-file__clean-btn{
  position: initial !important;
}

.sd-file--single-image {
  height: 100% !important;
}

.sd-file__decorator {
  border: none !important;
}

.sd-file__list {
  padding: 0 !important;
  position: inherit !important;
  max-height: none !important;
}

.sd-file__preview {
  min-height: 0 !important;
  width: 120px;
  height: 120px;
  margin: 0 !important;
  justify-content: center;
  border: 1px dashed #CCCCCC;
  border-radius: 12px;
}

.sd-file__image-wrapper {
  min-height: 0 !important;
}

.sd-file__default-image {
  width: 36px !important;
  height: 31px !important;
}

.sd-file__choose-btn--icon {
  top: auto !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

.sd-file--single-image .sd-file__image-wrapper img {
  width: 120px !important;
  height: 120px !important;
  border-radius: 12px;
  object-fit: cover !important;
}

.sd-file__sign {
  margin-top: 0 !important;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 14px !important;
  color: #333333;
}

.sd-file__choose-btn {
  display: none;
}

.sd-file__clean-btn {
  right: auto !important;
  display: flex;
  margin-top: 12px;
  flex-direction: row-reverse;
  align-items: center;
}

.sd-file__clean-btn svg{
  width: 17px !important;
  height: 17px !important;
}

.sd-file__clean-btn span{
  display: flex !important;
  margin-left: 6px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #E8192C;
}

.sd-context-btn {
  padding: 0 !important;
}

.sd-context-btn use {
  fill: #E8192C !important;
}

.sd-multipletext__item-container {
  flex-direction: column;
}

.sd-multipletext tr:not(:last-child) .sd-multipletext__cell {
  padding-bottom: 24px !important;
}

.sd-multipletext__item-title {
  margin-top: 0 !important;
  margin-bottom: 4px !important;
  font-style: normal;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #333333 !important;
  border-right: none !important;
}

.sd-multipletext__item input{
  margin-bottom: 7px !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  border: none !important;
}

.sd-element--with-frame .sv-ranking-item {
  left: 0 !important;
}

.sv-ranking-item__text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sv-ranking-item__content {
  margin: 12px 0;
}

.sv-ranking-item__index {
  margin-right: 12px !important;
  background: #F5F5F5 !important;
  color: #999999 !important;
  border-radius: 25% !important;
  height: 24px !important;
  width: 24px !important;
}

.sd-imagepicker {
  padding-top: 10px !important;
}

.sd-imagepicker__text {
  display:none;
}

.sv-ranking-item__icon{
  margin-left: 0 !important;
  fill:gray !important;
  top: 10px !important;
}

.sd-dropdown {
  background-image:url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7802 1.46682L10.7197 0.406314L5.99998 5.12606L1.28023 0.406314L0.219727 1.46682L5.99998 7.24707L11.7802 1.46682Z' fill='%23333333'/%3E%3C/svg%3E%0A") !important;
  background-size:calc(3 * var(--base-unit, 4px)) calc(3 * var(--base-unit, 4px)) !important;
}

input::-webkit-input-placeholder {
  color: #999999 !important;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

textarea::-webkit-input-placeholder {
  color: #999999 !important;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tncRoot {
  display: table;
  padding-left: 16px !important;
}

.tncRoot .sd-question__erbox--above-question {
  display: table-footer-group;
}

.tnc .sv-string-viewer {
  padding-left: 10px !important;
}
